* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* PRIMARY */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* GRADIENT */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* NEUTRAL */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  display: flex;
  justify-content: center;
}

.main-con {
  display: flex;
  justify-content: center;
  color: var(--White);
  max-width: 700px;
  margin: 150px 0;
  border-radius: 30px;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.1);
}

.your {
  font-size: 20px;
  font-weight: 500;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px auto;
  display: flex;
}
